.title {
    @apply text-primary font-[700] text-2xl md:text-3xl lg:text-4xl flex-1;
}

.tasks {
    @apply text-primary py-3 text-xl md:text-2xl font-[600]
}

.taskContainer {
    @apply flex items-start;
}

.titleContainer {
    @apply py-2 mx-3 flex flex-1 justify-between items-start md:items-center border-b-2 border-slate-300 mb-2;
}

.titleContainer:hover .editIcon,
.titleContainer:hover .deleteIcon {
    @apply opacity-100;
}

.editIcon {
    @apply opacity-0 hidden md:block;
    transition: opacity 0.5s ease-in-out;
    @apply mr-2 cursor-pointer text-gray-400/75;
}

.editIcon:hover {
    @apply text-primary;
}

.deleteIcon {
    @apply opacity-0 hidden md:block;
    transition: opacity 0.5s ease-in-out;
    @apply mr-8 cursor-pointer text-gray-400/75;
}

.deleteIcon:hover {
    @apply text-red-600;
}

.descriptionHolder {
    transition: transform .5s ease-in-out;
}


.taskTitle {
    @apply text-ink-primary text-base md:text-lg cursor-pointer flex-1;
}

.taskDescription {
    @apply mx-3 text-slate-600 text-sm md:text-base;

    -webkit-user-select: none;
    user-select: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out, opacity 0.4s ease-out;
    opacity: 0;
}

.showDescription {
    opacity: 1;
    transition: max-height .5s ease-in;
    max-height: 200px;
}