@tailwind base;
@tailwind components;
@tailwind utilities;

/* Check Box Style */
@import "./styles/checkbox.css";

/* Modal Style */
@import "./styles/modal.css";

/* Icon Search Style */
@import "./styles/iconSearch.css";

body {
    margin: 0;
    font-family: cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9f9ff;
}

body::-webkit-scrollbar {
    display: none;
}